[submodule "src/gopkg.in/mgo.v2-unstable"]
	path = src/gopkg.in/mgo.v2-unstable
	url = git@github.com:go-mgo/mgo.git
[submodule "src/github.com/gorilla/context"]
	path = src/github.com/gorilla/context
	url = git@github.com:gorilla/context.git
[submodule "src/github.com/gorilla/mux"]
	path = src/github.com/gorilla/mux
	url = git@github.com:gorilla/mux.git
[submodule "src/scal/lib/go-http-auth"]
	path = src/scal/lib/go-http-auth
	url = https://github.com/abbot/go-http-auth
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://github.com/golang/net
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://github.com/golang/crypto
