[submodule "src/github.com/dgrijalva/jwt-go"]
	path = src/github.com/dgrijalva/jwt-go
	url = git@github.com:dgrijalva/jwt-go

[submodule "src/github.com/globalsign/mgo"]
	path = src/github.com/globalsign/mgo
	url = https://github.com/ilius/mgo

[submodule "src/github.com/ilius/ripo"]
	path = src/github.com/ilius/ripo
	url = git@github.com:ilius/ripo

[submodule "src/github.com/mitchellh/mapstructure"]
	path = src/github.com/mitchellh/mapstructure
	url = git@github.com:mitchellh/mapstructure

[submodule "src/github.com/golang/mock"]
	path = src/github.com/golang/mock
	url = git@github.com:golang/mock

[submodule "src/github.com/kardianos/osext"]
	path = src/github.com/kardianos/osext
	url = git@github.com:kardianos/osext

[submodule "src/github.com/julienschmidt/httprouter"]
	path = src/github.com/julienschmidt/httprouter
	url = git@github.com:julienschmidt/httprouter
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://github.com/golang/crypto
[submodule "src/github.com/tylerb/is"]
	path = src/github.com/tylerb/is
	url = https://github.com/tylerb/is
[submodule "src/github.com/ilius/libgostarcal"]
	path = src/github.com/ilius/libgostarcal
	url = https://github.com/ilius/libgostarcal
